.recipeLink {
  display: flex;
  padding: 8px;
  width: 100%;
  margin-right: 8px;

  align-items: center;
  justify-content: center;
  font-weight: var(--semibold-font-weight);
  line-height: 20px;

  border: 1px solid var(--black);
  border-radius: 8px;
  background-color: transparent;

  transition: all 0.3s ease;
}

.recipeLink:hover {
  background-color: var(--light-brown);
  color: var(--white);
  border: 1px solid var(--white);
}
