@media screen and (max-width: 767px) {
  .container {
    max-width: 393px;
    margin: 0 auto;
    padding: 48px 16px;
  }

  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #000;
    margin-bottom: 16px;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 48px 32px;
    margin: 0 auto;
  }

  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.1;
    color: #000;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 48px 107px;
  }

  .title {
    margin-bottom: 40px;
  }
}
