.container {
  min-height: calc(100dvh - 271px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 56px 15px;
}

@media screen and (min-width: 1440px) {
  .container {
    min-height: calc(100dvh - 160px);
    padding: 32px 0 15px;
  }
}
