.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 16px;
}

@media (min-width: 768px) {
  .container {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-right: 108px;
    padding-left: 108px;
  }
}
